/* General Styles */
body {
  background-image: url(../img/contact.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Header Styles */
header {
  background-color: #eae4d8;
  color: black;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 130px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.name h1 {
  align-items: center;
  font-family: "Ephesis", sans-serif;
  font-weight: 900;
  text-shadow: 3px 3px 5px rgba(45, 19, 0, 0.7);
}
.first {
  color: #de9967;
  font-size: 80px;
}
.second {
  color: brown;
  font-size: 70px;
}
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 23px;
  text-decoration: underline;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
section {
  position: relative;
  max-width: 400px;

  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(55px);
  margin-left: 28%;
  padding: 2rem 3rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  color: #0e0e0e;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  max-width: 380px;
  border-bottom: 2px solid #0e0e0e;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #0e0e0e;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #0e0e0e;
}

.btn-container-1 {
  width: 5%;
  margin: auto;
  padding: 20px;
  align-items: center;
}
.btn-container-1 .btn {
  color: black;
  font-weight: 400;
  line-height: 45px;
  margin: auto;
  max-width: 0px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn-container-1 .btn:hover {
  text-decoration: none;
}
.btn-container-1 .btn-1 {
  font-weight: 100;
}
.btn-container-1 .btn-1 svg {
  height: 45px;
  left: -62px;
  position: absolute;
  width: 200px;
}
.btn-container-1 .btn-1 rect {
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
.btn-container-1 .btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-container-1 .btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1s ease-in-out;
}

/* Footer Styles */

footer {
  background-color: #050505;
  padding: 20px;
}

.company-info {
  text-align: center;
}

.company-info ul {
  list-style: none;
  padding: 0;
}

.company-info ul li {
  display: inline;
  margin-right: 20px;
}

.company-info ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.company-info p {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
}
